/* Header Styles */
header {
    background-color: #333; /* Background color for the header */
    color: #fff; /* Text color for the header */
    padding: 1em; /* Padding around the header content (using em) */
    display: flex; /* Use flexbox to align elements */
    align-items: center; /* Vertically align elements */
    justify-content: flex-start; /* Align elements to the left */
}

header img {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    height: auto; /* Allow the image height to adjust proportionally */
    margin-right: 1em; /* Margin for the logo image (using em) */
}

/* Navigation Styles */
nav {
    background-color: #444; /* Background color for the navigation bar */
}

nav ul {
    list-style-type: none; /* Remove list bullets */
    margin: 0;
    padding: 0;
    text-align: center; /* Center-align the list items */
}

nav li {
    display: inline-block;
    margin: 0 1em; /* Add margin to separate list items (using em) */
}

nav a, .user-greeting {
    text-decoration: none;
    color: #fff; /* Set your desired text color */
    font-weight: bold;
    display: inline-block; /* Ensure the list items have the same styling */
    padding: 5px 10px; /* Add padding to match the other items */
    border: 1px solid transparent; /* Add a border for consistency */
    border-radius: 5px; /* Add border radius for rounded corners */
    transition: background-color 0.3s, border-color 0.3s; /* Add a smooth transition effect */
}

/* Style the user greeting on hover */
nav li.user-greeting:hover {
    background-color: #555; /* Set a background color on hover */
    border-color: #fff; /* Set a border color on hover */
    transition: background-color 0.3s, border-color 0.3s; /* Add the same transition on hover */
}


/* Menu Hover Effect */
nav a:hover {
    background-color: #3498db; /* Background color on hover */
}
