/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333; /* Set your desired background color */
    text-align: center;
    padding: 10px 0; /* Adjust padding as needed */
}

/* Style the logo */
header img {
    max-width: 100px; /* Set your desired logo size */
    max-height: 100px;
    margin: 0 auto;
    display: block;
}

/* Navigation Styles */
nav {
    background-color: #333; /* Set your desired background color */
    text-align: center;
    padding: 10px 0; /* Adjust padding as needed */
}

nav ul {
    list-style: none;
    display: flex; /* Use flexbox to horizontally align items */
    justify-content: center; /* Horizontally center-align items */
}

nav li {
    margin: 0 15px; /* Adjust the spacing between menu items as needed */
}

nav a, .user-greeting {
    text-decoration: none;
    color: #fff; /* Set your desired text color */
    font-weight: bold;
    padding: 10px 20px; /* Adjust padding as needed */
    border: 1px solid transparent; /* Add a border for consistency */
    border-radius: 5px; /* Add border radius for rounded corners */
    transition: background-color 0.3s, border-color 0.3s; /* Add a smooth transition effect */
}

/* Style the user greeting on hover */
nav .user-greeting:hover {
    background-color: #555; /* Set a background color on hover */
    border-color: #fff; /* Set a border color on hover */
    transition: background-color 0.3s, border-color 0.3s; /* Add the same transition on hover */
}

