/* Body Styles */


/* Center the page content */
body h1,
#welcome-section,
#featured-photos
{
    text-align: center;
    margin: 20px auto; /* Center the content horizontally */
    max-width: 800px; /* Adjust the maximum content width as needed */
}

h2 {
    font-size: 2em; /* Increase the font size */
    color: #333; /* Text color for h2 tags */
    background-color: #ff6600; /* Background color for h2 tags */
    padding: 10px; /* Padding around h2 tags */
    border-radius: 5px; /* Rounded corners for h2 tags */
    text-align: center; /* Center-align h2 text */
    margin-top: 20px; /* Add margin at the top of h2 tags */
}

/* Add additional styles for specific elements within the body as needed */
/* Explore the Feed Button Styles */
.cta-button {
    display: inline-block;
    background-color: #ff6600; /* Background color for the button */
    color: #fff; /* Text color for the button */
    text-decoration: none; /* Remove underlines from the button */
    padding: 10px 20px; /* Padding around the button text */
    border-radius: 5px; /* Rounded corners for the button */
    font-weight: bold; /* Bold text for the button */
    font-size: 18px; /* Font size for the button */
    margin-top: 20px; /* Margin at the top of the button */
    transition: background-color 0.3s; /* Smooth color transition on hover */
}

/* Hover Effect for the Button */
.cta-button:hover {
    background-color: #ff3300; /* Background color on hover (slightly darker) */
    transition: background-color 0.3s; /* Smooth color transition on hover */
}