/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
h1 {
    text-align: center;
    margin-top: 20px;
}

.profile-details {
    margin-left: 20px;
    text-align: left;
}

/* Photos section styles */
#photos-section {
    text-align: center;
    margin-top: 20px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.gallery-container a {
    text-decoration: none;
    color: #333;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.gallery-container img {
    width: 100%;
    height: auto;
    border: 1px solid #555;
    border-radius: 5px;
}

.gallery-container h3 {
    margin: 10px 0;
}

.gallery-container p {
    margin: 5px 0;
    font-size: 14px;
}

/* Upload section styles */
#upload-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  
  .upload-button {
    text-align: center;
  }
  
  #uploadGallery {
    max-width: 400px; /* Adjust the max-width as needed */
    margin: auto;
  }
  
  #uploadGallery input,
  #uploadGallery button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  #file {
    margin-bottom: 0; /* Remove margin-bottom for the file input */
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 12px; /* Adjust the padding for the button */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Adjust the font size for the button */
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  #error-container {
    display: none;
    padding: 10px;
    background-color: #ff7f7f; /* Red background color */
    color: #fff; /* White text color */
    border: 2px solid #ff0000; /* Red border */
    border-radius: 5px; /* Rounded corners */
    text-align: center;
    margin: 0 auto; /* Center horizontally */
    min-width: 400px;
}

  