
/* Set a background color for the body */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

/* Style the main heading */
h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Style the profile section */
#profile-section {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style the profile info */
.profile-info {
    display: flex;
    align-items: center;
}

.profile-picture img {
    border: 2px solid #333;
    border-radius: 50%;
    margin-right: 20px;
}

/* Style the profile details */
.profile-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-details p {
    font-size: 16px;
}

/* Style the gallery */
h3 {
    margin-top: 20px;
}

.gallery-item {
    background-size: cover;
    background-position: center;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative; /* Added to enable proper positioning of text over the image */
}

.gallery-item h3 {
    font-size: 16px;
    position: absolute; /* Position text absolutely within the .gallery-item */
    top: 10px; /* Adjust top position as needed */
    left: 10px; /* Adjust left position as needed */
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.gallery-item p {
    font-size: 14px;
    position: absolute; /* Position text absolutely within the .gallery-item */
    bottom: 10px; /* Adjust bottom position as needed */
    left: 10px; /* Adjust left position as needed */
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery-container a {
    text-decoration: none;
    color: #333;
}

.gallery-container a div {
    background-size: cover;
    background-position: center;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.gallery-container h3 {
    font-size: 16px;
    margin: 10px 0;
}

.gallery-container p {
    font-size: 14px;
    color: #666;
}

/* Style the upload form */
.upload-button {
    margin-top: 20px;
}

#filename, #filetitle, #filedesc, #file {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

button[name="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

